$link: #58a6ff;
.follower {
  border: 1px solid rgba(201, 209, 217, 0.5);
  border-radius: 5px;
  padding: 15px;
  display: grid;
  gap: 10px;
  display: flex;
  overflow: hidden; /* Обрезаем все, что не помещается в область */
}
.title {
  cursor: pointer;
  font-size: calc(14 / 16) + rem;
  &:hover {
    text-decoration: underline;
  }
}
.imageWrapper {
  flex: 0 0 33%;
  img {
    width: 100%;
  }
}
