$borderGrayColor: rgb(216, 222, 228);
$borderRadius: 5px;
$green: rgb(45, 164, 78);
$greenHover: rgb(39, 141, 68);
.find {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.form {
  width: 100%;
  background-color: rgb(246, 248, 250);
  border: 1px solid $borderGrayColor;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: $borderRadius;
  & > * {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.username {
  font-size: calc(14 / 16) + rem;
}
.findInput {
  padding: 5px 12px;
  background-color: white;
  border: 1px solid $borderGrayColor;
  border-radius: $borderRadius;
  font-size: calc(14 / 16) + rem;
  &:focus {
    outline: 2px solid black;
  }
}
.logo {
  margin-bottom: 20px;
}
.searchBtn {
  background-color: $green;
  border-radius: $borderRadius;
  color: white;
  font-weight: 500;
  padding: 5px 12px;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 1px solid $greenHover;
  &:hover {
    background-color: $greenHover;
  }
}
